@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --beige: #ebe6df;
    --brown: #454441;
    --orange: #d78412;
    --dark_orange: #945b0a;
}

body {
    font-family: 'Montserrat' sans-serif;
    background-color: var(--beige);
}

.citations {
    padding: 3% 8%;
}

.citations p {
    padding-left: 36px;
    text-indent: -36px;
}

.citations a {
    color: var(--orange);
}

.citations a:hover {
    color: var(--dark_orange);
}

.vase img {
    padding: 2% 1%;
    max-width: 100%;
}

.gods {
    padding-top: 5%;
    padding-bottom: 2%;
}

.gods img {
    max-width: 100%;
    border-radius: 10%;
}

.gods p, .myth p{
    text-align: justify;
}

nav p {
    color: white;
    padding-top: 2%;
    padding-right: 1%;
}

.myth h4 {
    text-align: right;
}

.myth a, .gods a{
    color: var(--orange);
}

.myth a:hover, .gods a:hover {
    color: var(--dark_orange);
}

.myth p, .gods p{
    padding-left: -36px;
    text-indent: 36px;
}

h3 {
    padding-top: 2%;
    margin-bottom: -1%;
}